@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightgray;
    text-align: center;
}

header > h1 {
    padding: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.237);
}

menu {
    background-color: gray;
    padding: 15px;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.338);
}

li {
    display: inline-block;
    padding: 10px;
    margin-left: 30px;
    color: white;
    background-color: rgb(63, 59, 59);
}

main {
    width: 400px;
    display: block;
    margin: auto;
    background-color: lightgray;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.345);
}

main h2 {
    text-align: center;   
}

main p {
    text-align: justify;
}